$breakpoint-xs: 350px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 769px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

@mixin xs() {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin sm() {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md() {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg() {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl() {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}
