.contact-page {
  // background-color: #424A4F;
  color: #fff;
  text-align: center;
  .mailer {
    margin: 1rem;
    padding: 1rem 10rem;
    @include sm {
      padding: 0;
      margin: 20px;
    }
  }


  button {
    width: 200px;
    font-size: 1.2em;
  }
  .contact-info {
    text-align: left;
    background-color: #424A4F;
    color: #fff;
    padding: 2rem 5rem;
    i {
      margin: 3px;
    }

    @include sm {
      padding: 20px;
    }
  }
}
