.video-container {
  background: url('/assets/images/rock.jpeg') no-repeat center center;
  background-size: cover;
  width: 100%;
  padding: 100px 0;
  .video {
    margin: 0 auto;
  }
}

.news-feed {
  background-color: #d5d5d5;
}
