.upper-wrapper {
  margin-top: -100px;
}
.lower-wrapper{
  // background-color: #e4002b;
  padding: 20px 40px;
  padding-bottom: 3rem;
}
.player-wrapper{
  margin-left: 30px;
}
.welcome {
  margin-top: 100px;
  background: url('../assets/images/festival.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  padding: 100px 0;
  .welcome-video {
    position: relative;
    margin: 0 auto;
    width: 76%;
    @include sm {
      width: 100%;
    }
    ;
    padding: 0;
    .welcome-content {
      position: absolute;
      display: block;
      width: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.5);
      .left {
        display: inline-block;
        float: left;
        width: 50%;
        border-right: 2px solid #fff;
        span {
          color: rgba(0, 208, 255, 1);
          font-size: 2.5em;
          @include sm {
            font-size: 1.5em;
          }
          ;
        }
        strong {
          color: #fff;
          font-weight: bold;
          @include sm {

            font-weight: normal;
          }
          ;
        }
      }

      .right {
        display: inline-block;
        color: #fff;
        width: 50%;
        padding-left: 10px;
      }
    }
  }
}

.news-feed {
  .lat-news {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;
  }
  .video-content {
    width: 90%;
    margin: 0 auto;
  }
  .news {
    margin: 10px 0 25px 0;
    border-bottom: 2px solid #000;
    .title-wrapper{
      margin-bottom: 7px;
    }
    h3 {
      // display: inline-block;
      font-weight: bold;
      margin-bottom:0;
      color: #ffbe76;
    }
    p {
      font-size: 14px;
      color: #eee;
    }
  }
}


.music-box {
  @include sm {
    padding: 1em;
  }
  ;
  h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin: 10px;
    line-height: 1.5
  }
  .player {
    @include sm {
      width: 100%;
    }
  }
}
.video-feed{
  h1{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
  }
}
.contact-info {
    @include sm {
      width: 100%;
    }
    background-color: #424A4F;
    color: #fff;
    padding: 2rem 5rem;
}
