.wwd-page {
  background: url('../assets/images/wwd2.jpg') no-repeat center center;
  background-size: cover;
  padding-bottom: 150px;
  align-items: center;
}


/*WWDCard start*/
.wwd-card {
  margin: 10px;
  width: 300px;
  border-radius: 2px;
}
.wwd-card-img {
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 5px solid #000;
  display: block;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    // object-fit: cover;
    transition: all 0.25s ease;
  }
  h2 {
    font-size: 1.6rem;
    background: rgba(0, 0, 0, 0.8);
    color: #ffbe76;
    padding: .7rem;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.wwd-card-content {
  margin-top: 15px;
  background-color: rgba(0,0,0,0.2);
  text-align: left;
  padding: 15px;
  h2 {
    color: #00ffff;
    font-size: 18px;
    font-weight: 600;
  }
  p {
    color: #fff;
    font-size: 16px;
  }
}

/*WWDCard end*/
